body {
    text-align: center;
    background-image: url("images/blackjack.jpeg");
    background-size: cover;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 150px;
    background: goldenrod;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 5px 0px;
    color: #016f32;
    margin-top: 2px;
    margin-bottom: 2px;
}

button:hover {
    cursor: pointer;
}

